html
  head
    link(rel='stylesheet', href='../_docs/index.css')
    link(rel='stylesheet', href='../reset/index.css')
    link(rel='stylesheet', href='../typography/index.css')
    link(rel='stylesheet', href='./index.css')
  body.doc
    h1.heading0 Space

    section
      h1.heading1 Paddings

      .demo.font

        each _, $i in Array(13)
          .docBox
            div(class=`paddingTop${$i}`) paddingTop#{$i}
        each _, $i in Array(13)
          .docBox
            div(class=`paddingRight${$i}`) paddingRight#{$i}
        each _, $i in Array(13)
          .docBox
            div(class=`paddingBottom${$i}`) paddingBottom#{$i}
        each _, $i in Array(13)
          .docBox
            div(class=`paddingLeft${$i}`) paddingLeft#{$i}

    section
      h1.heading1 Margins

      .demo.font

        each _, $i in Array(13)
          .docBox
            div(class=`marginTop${$i}`) marginTop#{$i}
        each _, $i in Array(13)
          .docBox
            div(class=`marginRight${$i}`) marginRight#{$i}
        each _, $i in Array(13)
          .docBox
            div(class=`marginBottom${$i}`) marginBottom#{$i}
        each _, $i in Array(13)
          .docBox
            div(class=`marginLeft${$i}`) marginLeft#{$i}
