mixin repeatColumns(quantity)
  each _, i in Array(quantity)
    div=i+ 1

mixin rowWithColumns(quantity)
  .row
    +repeatColumns(quantity)

html
  head
    link(rel='stylesheet', href='./index.css')
    link(rel='stylesheet', href='../_docs/index.css')
  body.doc
    h1 Grid

    article
      h1 Fluid columns

      p Adding .row to a container will make all the children of that container behave like block elements.
      p There is no limit on the number of columns

      .demo
        each _, i in Array(16)
          +rowWithColumns(i+1)

    article
      h1 Fixed columns

      p Adding .col-NUMBER will make the column use a fixed width.
      p The default number of columns is 12

      .demo
        each _, i in Array(12)
          .row
            div(class=`col-${i+1}`)
              | col-#{i+1}

    article
      h1 Row Wrap

      h2 Default
      p The default is now to wrap the columns in the row.
      p The content will overflow the row and be visible
      .demo
        .row
          .col-5 1 .col-5
          .col-5 2 .col-5
          .col-5 3 .col-5

      h2 Force wrap / break
      p Adding `wrap-yes` will force the columns to break if they dont fit the row
      .demo
        .row.wrap-yes
          .col-5 1 .col-5
          .col-5 2 .col-5
          .col-5 3 .col-5

      h2 No wrap / break
      p Adding `wrap-no` will force the columns to not break, reseting back to the default behavior
      .demo
        .row.wrap-no
          .col-5 1 .col-5
          .col-5 2 .col-5
          .col-5 3 .col-5

      h2 Force wrap reverse / break reverse
      p Adding `wrap-yes` will force the columns to break, in reverse order, if they dont fit the row
      .demo
        .row.wrap-reverse
          .col-5 1 .col-5
          .col-5 2 .col-5
          .col-5 3 .col-5

    article
      h1 Column offset
      .demo
        each _, i in Array(12)
          .row
            div(class=`col-1 offset-${i+1}`)
              | offset-#{i+1}
    article
      h1 Direction
      .demo
        p default direction-row
        .row.direction-row
          .col-1 1
          .col-1 2
          .col-1 3
        p direction-rowReverse
        .row.direction-rowReverse
          .col-1 1
          .col-1 2
          .col-1 3
        p direction-column
        .row.direction-column
          .col-1 1
          .col-2 2
          .col-3 3
        p direction-columnReverse
        .row.direction-columnReverse
          .col-1 1
          .col-2 2
          .col-3 3

    article
      h1 Justify content
      .demo
        p Start
        .row.content-start
          .col-1 1
          .col-1 2
          .col-1 3
        .content-start
        p End
        .row.content-end
          .col-1 1
          .col-1 2
          .col-1 3
        .content-end
        p Center
        .row.content-center
          .col-1 1
          .col-1 2
          .col-1 3
        .content-center
        p Space between
        .row.content-spacebetween
          .col-1 1
          .col-1 2
          .col-1 3
        .content-spacebetween
        p Space around
        .row.content-spacearound
          .col-1 1
          .col-1 2
          .col-1 3
        .content-spacearound
        p Space evenly
        .row.content-spaceevenly
          .col-1 1
          .col-1 2
          .col-1 3

    article
      h2 Align items
      .demo
        p alignItems-start
        .row.align-items-start(style="height: 100px;")
          .col-1(style="height: 80px;") 1
          .col-1(style="height: 30px;") 2
          .col-1(style="height: 50px;") 3
        p alignItems-end
        .row.align-items-end(style="height: 100px;")
          .col-1(style="height: 80px;") 1
          .col-1(style="height: 30px;") 2
          .col-1(style="height: 50px;") 3
        p alignItems-center
        .row.align-items-center(style="height: 100px;")
          .col-1(style="height: 80px;") 1
          .col-1(style="height: 30px;") 2
          .col-1(style="height: 50px;") 3
        p alignItems-baseline
        .row.align-items-baseline(style="height: 100px;")
          .col-1
            p 1
          .col-1
            p 2
            p 2
          .col-1 3
        p alignItems-stretch
        .row.align-items-stretch(style="height: 100px;")
          .col-1 1
          .col-1 2
          .col-1 3

